<header class="page-header">
     <h1 class="project-name"> <a class="header-link" href="{{ site.baseurl }}/"> {{ site.title }}</a></h1>
     <!--<h3 style="font-weight: lighter;">a blog for <a class="header-link" href="http://canijustgo.com/" target="_blank">canijustgo.com</a></h3>-->
     <h3 class="project-tagline"><a class="header-link">{{ site.description }}</a></h3>
     <a href="https://github.com/JZenger" class="btn">GitHub</a>
      <a href="http://joezeng.me" class="btn">Website</a>
      <a href="https://www.instagram.com/jxzzeng/" class="btn">Instagram</a>
</header>
